* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6; 
  background-color: #bb7bec;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 30px;
  width: 50px;
}

h1 {
  text-align: center;
  padding-top: 0.5rem;
  color: azure;
}

.div1 p {
  text-align: center;
  color: azure;
}

.div2 { 
  grid-area: 2 / 1 / 5 / 2; 
  background-color: #93c573;
  color: aliceblue;
}

.side {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.color{
  background-color: red;
  color: #2F4F4F;
}

.list-group-item {
  background-color: #93c573;
}

.div3 { 
  grid-area: 2 / 2 / 5 / 6; 
  background-color: #2F4F4F;
}

.div3 .productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  place-items: center;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.btn{
  width: 250px;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  margin-top: 2%;

}

.h6 {
  text-align: center;
  justify-content: center;
}


.div4 { 
  grid-area: 5 / 1 / 6 / 6; 
  background-color: #bb7bec;
  color: aliceblue;
  max-height: 6rem;
  text-align: center;
  padding: 1rem;
}
